//- vim: sw=2
extends layout

block content

  h1= title

  table.table
    tr
      each item in schema.properties
        th= item.title
    each row in responses
      tr
        each prop, key in schema.properties
          td= row[key]


  script.
    var PAGENAME = "!{'form-' + mode}";
    var schema = !{schema || '{}'};
    var uiSchema = !{uiSchema || '{}'};
  script(src='/js/bundle.js')

